<h1>Angular Portfolio Items</h1>

<% @portfolio_items_angular.each do |item| %>
  <p><%= link_to item.title, portifolio_path(item.id) %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <p><%= item.main_image %></p>
  <%= image_tag item.thumg_image if !item.thumg_image .nil? %>
  <%= link_to "Edit", edit_portifolio_path(item.id) %>
  <a href="/portifolios/<%= item.id %>/edit">Edit Two</a> #outra forma de fazer o edit
  <%= link_to 'Destroy', portifolio_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>