<h1>Portfolio Items</h1>

<% @portfolio_items.each do |item| %>
  <p><%= item.title %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <p><%= item.main_image %></p>
  <p><%= image_tag item.thumg_image %></p>
<% end %>